.row
  .col-xs-12.col-md-10.col-md-offset-1
    %h1 Idea List
    = link_to 'New Idea', new_idea_path, class: "btn btn-primary"
%br
.row
  .col-xs-12.col-md-10.col-md-offset-1
    - @ideas.each do |idea|
      .row.well
        %div
          %h2 
            #{link_to idea.title, idea}
            %small
              By 
              #{idea.user.full_name}
          %p= truncate(idea.body, length: 500)

